@font-face {
    font-family:"Roboto-Thin";
    src: url("Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: thin;
    font-style:normal;
}
@font-face {
    font-family:"Roboto-Black";
    src: url("Roboto/Roboto-Black.ttf") format("truetype");
    font-weight: bold;
    font-style:normal;
}
@font-face {
    font-family: "Roboto-LightItalic";
    src: url("Roboto/Roboto-LightItalic.ttf") format("truetype");
    font-weight: thin;
    font-style: italic;
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto/Roboto-Regular.ttf");
}
*{
    margin:0;
}
/* header */
header{
    background-color: #1f2937;
    height:80vh;
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    margin-left:20px;
    margin-right:20px;
}
#about{
    height:18vh;
}
.logo{
    /* padding: 5px; */
    margin-left: 10%;
    color:#F9FAF8;
    font-size: 24px;
    width: 20%;
    font-family: "Roboto-Black";
}
.logo img{
    width:100%;
    height:100%;
}
ul,li{
    list-style: none;
    padding-left: 20px;
    display:inline;
    text-align: right;
}
.header-link{
    margin-left: 25%;
    padding: 30px;
    font-family: "Roboto-Thin";
    width: 80%;
}
.header-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.header-image{
    margin-right: 14%;
    background-color: rgb(130, 133, 135);
    margin-bottom:20px;
    width: 90%;
    height:36vh;
}
.header-image img{
    width:100%; 
    height: 100%;
}
.header-text{
    padding-left:30px;
    margin-left: 10%;
}
.header-text h1{
    font-size: 48px;
    font-family: "Roboto-Black";
    width:100%;
    color:#f9faf8;
    margin-bottom: 0px;
}
.header-text sub{
    font-size: 18px;
    color:#E5E7EB;
    font-family: "Roboto-Thin";
    width: 10%;
}
.header-text button{
    padding:7px 25px 7px 25px;
}
a{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}
button{
    color:#ffff;
    background-color:#3882F6;
    border-radius: 4px;
    border:none;
    margin: 3% 0 0 0;
    padding: 6%;
    cursor: pointer;
}
/* body */
/* Home page */
h2{
    text-align: center;
    font-size: 36px;
    color:#1f2937;
    font-family: "Roboto-Black";
    margin-top:3%;
}
.bodyimg-container{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}
.bodyimg-container img{
    width:60%;
    height:30vh;
    border-radius:25px;
    border: 4px solid #3882F6;
}
.bodyimg-container figcaption{
    width:60%;
    font-family: "Roboto-Regular";
    text-align: center;
    margin-left: 4%;
}
.img1{
    margin-left:10%;
}
.quote-container{
    background-color: #E5E7EB;
    margin-top: 10%;
    margin-bottom: 6%;
}
.quote-container p{
    font-family: "Roboto-LightItalic";
    width:30%;
    text-align: center;
    font-size: 36px;
    color:#1f2937;
    padding-left: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.call-action{
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    margin: 0 15% 6% 15%;
    border-radius: 8px;
}
.call-action .text{
    color: #E5E7EB;
    padding: 5% 5% 5% 15%;
}
.call-action .text .p1{
    font-size: 30px;
    font-family: "Roboto-Black";
}
.call-action .text .p2{
    font-size: 15px;
    font-family: "Roboto-Thin";
}
.call-action .button{
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    margin: 5%;
    padding: 0.5% 3% 0.5% 3.5%;
    width:7%;
}
/* About page */
h1{
    font-family: "Roboto-Regular";
    color: #1f2937;
    text-align: center;
    padding-top: 20px;

}
.abouttext{
    background-color: #E5E7EB;
    margin:5%;
    border-radius: 20px;
}
.abouttext article{
    font-family: "Roboto-LightItalic";
    font-size: 25px;
    text-align: center;
    padding:5% 25%;
    width: 50%;
}
/* footer */
footer{
    background-color: #1f2937;
}
footer p{
    color:#F9FAF8;
    text-align: center;
    font-family: "Roboto-Thin";
    padding-top: 15px;
    padding-bottom: 15px;
}